#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  background-color: #e09145;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 1rem 2rem;
  width: 30%;
  color: black;
  margin: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  display: flex;
}
.list {
  text-align: left;
}
.card:hover {
  box-shadow: 1rem 1rem #b4651b63;
}
.card a {
  text-align: center;
}

.link{
  text-align: center;
}

textarea{
  resize: none;
  height: 5rem;
}

.note{
 color: #327316;
}